extends layout

block content
    h1 Welcome to the Boston University Weather App
    p Temperature: #{API_Data.temp_f}째F / #{API_Data.temp_c}째C
    p Weather Description: #{API_Data.wx_desc}
    p Actually Feels Like: #{API_Data.feelslike_f}째F / #{API_Data.feelslike_c}째C
    p Humidity: #{API_Data.humid_pct}%
    p Wind Speeds: #{API_Data.windspd_mph}mph / #{API_Data.windspd_kmh}kmh
